//About Page

.about-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $main-spacing;
  padding-top: $main-spacing * 2;
}

.about-page h1 {
  padding-bottom: $main-spacing;
}

#aboutInfo div{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-page p {
  margin: $main-spacing;
}

.about-img {
  width: 30rem;
  margin: $main-spacing;
}

  // Desktop View

  @media screen and (min-width: 1240px) {
    .about-page p {
      width: 75vw;
    }
  }